*{
	margin:0;
	padding:0;}
.bady{
	font-size:12px;
	color:#000;
	font-family:"ו";}
.ul ,li{
	list-style-type:none;}
.main{
	margin:0 auto;
	}
.main-li{
	width:160px;
}
.main-body{
	height:230px;
	width:240px;
}

	
